<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title"> Editing Standard </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= teachers_standards_path %>">Standard Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Standard Details</li>
      </ol>
    </nav>
  </div>

  <%= render 'form', standard: @standard %>

  <%= link_to 'Show', teachers_standard_path(@standard) %> |
  <%= link_to 'Back', teachers_standards_path %>
</div>
