<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title"> Editing Teacher </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= students_teachers_path %>">Teacher Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">Edit Teacher Details</li>
      </ol>
    </nav>
  </div>

  <%= render 'form', teacher: @teacher %>

  <%= link_to 'Show', students_teacher_path(@teacher) %> |
  <%= link_to 'Back', students_teachers_path %>
</div>
