<div class="content-wrapper">
  <h1>Editing Parent</h1>

  <%= render 'form', parent: @parent %>

  <%= link_to 'Show', students_parent_path(@parent) %> |
  <%= link_to 'Back', students_parents_path %>
</div>
