<div class="content-wrapper">
  <h1>Editing Subject</h1>

  <%= render 'form', subject: @subject %>

  <%= link_to 'Show', students_subject_path(@subject) %> |
  <%= link_to 'Back', students_subjects_path %>
</div>
