<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title"> Subject Tables </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= students_subjects_path %>">Subject Tables</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Subjects</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Subject table</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Name</th>
                <th>Show</th>
              </tr>
            </thead>
            <tbody>
              <% @subjects.each do |subject| %>
              <tr>
                <td><%= subject.name %></td>
                <td><%= button_to "show", students_subject_path(subject), method: :get, class: "btn btn-gradient-info btn-fw"  %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
